@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// white
$insta-white: #fff;
// gray
$insta-gary: rgb(245, 245, 245);
//border color rgba(var(--b6a,219,219,219),1);
$button-blue: rgba(0, 149, 246, 0.3);

body {
  @include flex-center;
  margin: 0;
  height: 100vh;
  background-color: $insta-gary;

  .outsideBox {
    background-color: white;
    padding: 10px 10px 10px 10px;
    display: flex;
    margin: auto;

    .insideBox {
      width: 300px;
      height: 400px;
      margin: auto;
      text-align: center;

      h1 {
        font-family: 'Beau Rivage', cursive;
        font-size: 43px;
        margin: 50px 0px 50px 0px;
      }

      input {
        background-color: $insta-gary;
        border: none;
        border-radius: 2px;
        width: 250px;
        height: 30px;
        font-size: small;
        opacity: 1;
      }

      .phone {
        margin-top: 10px;
        padding-left: 10px;
      }

      .password {
        margin-top: 10px;
        padding-left: 10px;
      }

      .button {
        color: #fff;
        background-color: $button-blue;
        opacity: 1;
        border: none;
        border-radius: 3px;
        width: 200px;
        height: 30px;
        font-size: small;
      }

      .activebtn {
        width: 250px;
        background-color: aqua;
        transition: all 0.3s;
      }

      .forgetPW {
        margin-top: 50px;
        display: Flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 13px;
        color: rgba(10, 10, 118, 0.345);
      }
    }
  }
}
