//@import '../variables.scss';
.aside {
  width: 350px;
  height: 100%;
  background-color: rgb(250, 250, 250);
  margin: 20px;

  a {
    font-size: 13px;
  }

  .blue-link {
    text-decoration: none;
    color: dodgerblue;
  }

  .info {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;

    .info-me {
      display: flex;

      .info-img {
        border-radius: 100%;
        width: 60px;
      }

      .info-name {
        margin: auto 0px;
        padding-left: 10px;

        .info-id1 {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .info-link {
      display: flex;
      align-items: center;
    }
  }

  .story {
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);

    .story-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .story-friend-wrapper {
      height: 200px;
      overflow: auto;
      padding: 0px 20px;
    }
  }

  .follow {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);

    .follow-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .follow-friend-wrapper {
      height: 200px;
      overflow: auto;
      padding: 0px 20px;
    }
  }
  .westagram-info {
    padding: 10px;
    p {
      color: rgb(178, 178, 178);
      margin-bottom: 10px;
    }
  }
}
