.friend {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;

  .friend-img-wrapper {
    display: flex;

    .friend-img {
      width: 50px;
      border: 2px solid red;
      border-radius: 100%;
    }

    .friend-name {
      margin: auto 0px;
      padding-left: 10px;

      .friend-id {
        font-size: 15px;
        font-weight: bold;
      }
      .friend-ago {
        font-size: 15px;
      }
    }
  }

  .follow-link {
    display: flex;
    align-items: center;
  }
}
