@import '.Main.scss';

/* main right  부분 */
/* main right - head  부분 */

.main-right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rightHead {
    width: 90%;

    display: flex;
    flex-direction: row;

    .profilePhoto {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 10px 10px;
    }

    .profileMain {
      display: flex;
      flex-direction: column;
      margin: 10px 10px;

      .profileId {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  /* main right - main  부분 */

  article {
    width: 90%;
  }

  .rightStory {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: 12px 0px;

    .storyHead {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 8px 8px;

      .storyName {
        font-size: 18px;
        margin: 8px 8px;
        color: gray;
      }

      .storyBtn {
        font-size: 18px;
        border: none;
        font-weight: bold;
        background-color: white;
        margin: 6px 6px;
      }
    }
  }

  .rightStory {
    border: 1px solid gray;

    .storyList {
      margin: 8px 20px;

      .storyMain {
        display: flex;
        flex-direction: row;
        margin: 8px 0px;

        .otherPhoto {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 17px;
        }

        .otherPerson {
          display: flex;
          flex-direction: column;

          .otherTime {
            color: gray;
          }
        }
      }
    }
  }

  /* main right -  main - 추천 부분 */

  .rightRecom {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: 12px 0px;

    .recomHead {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 8px 8px;

      .recomName {
        font-size: 18px;
        margin: 8px 8px;
        color: gray;
      }

      .recomBtn {
        font-size: 18px;
        border: none;
        font-weight: bold;
        background-color: white;
        margin: 6px 6px;
      }
    }

    .recomList {
      margin: 8px 20px;

      .recomMain {
        display: flex;
        flex-direction: row;
        margin: 8px 0px;

        .recomPhoto {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 17px;
        }

        .recomPerson {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  /* footer */

  footer {
    width: 90%;
    padding: 8px 8px;
    color: gray;
  }
}
